/* ============================= */
/* CSS Reset =================== */
/* ============================= */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
}

/* ============================= */
/* ==========FONTS============== */
/* ============================= */

/* Fonts were downloaded from GFonts then converted on FontAwesome,
text is in FA download, but needs link url changing */

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
		url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('../fonts/Acumin\ Pro\ Condensed.woff2') format('woff2'),
		url('../fonts/Acumin\ Pro\ Condensed.woff') format('woff'),
		url('../fonts/Acumin\ Pro\ Condensed.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed Medium';
	src: url('../fonts/Acumin\ Pro\ Condensed.woff2') format('woff2'),
		url('../fonts/Acumin\ Pro\ Condensed.woff') format('woff'),
		url('../fonts/Acumin\ Pro\ Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Light';
	src: url('../fonts/AcuminPro-Light.woff2') format('woff2'),
	url('../fonts/AcuminPro-Light.woff') format('woff'),
	url('../fonts/AcuminPro-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Acumin Pro Thin';
	src: url('../fonts/AcuminPro-Thin.woff2') format('woff2'),
	url('../fonts/AcuminPro-Thin.woff') format('woff'),
	url('../fonts/AcuminPro-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* ============================= */
/* =========HEADER============== */
/* ============================= */

.page-header {
	width: 100%;
	background-color: darkorange;
}

/* This nav css creates a group on each page edge. */
nav {
	width: 100%;
	height: 5em;
	background-color: #191919;
	display: flex;
	align-items: center;
}

/* Make the 2 li groups take up all the remaining space in the header */
.nav-lists {
	width: 100%;
	display: flex;

}

/* Makes li go in line, makes them specific font */
.nav-lists ul {
	display: flex;
	width: 100%;
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.6em;
	letter-spacing: 0.03em;
}

.right-list {
	justify-content: flex-end;
}

/* Max-height resizes the logo to fit */
.ewrc img {
	padding-top: 2.5px;
	max-height: 15px;
}

/* Z-index 1 makes the image go below the anchor tag so
the whole area of the image is a link.  */
.ewrc {
	z-index: 1;
}

/* li are inline-blocks already, but we want them to stay
the same size when the page is resized. */
.nav-lists li {
	flex-shrink: 0;
	padding: 0 0.75em;
}

li>a {
	color: white;
	text-decoration: none;
}

li>a:hover {
	color: rgb(255, 80, 0);
}

.Dirtfish-Logo {
	padding: 0 1.5em;
}

/* The max-height scales down the logo */
.Dirtfish-Logo img {
	max-height: 20px;
}

/* The search bar div is in the nav and is
 centered and aligned to the right. */
.search-bar {
	display: flex;
	align-items: center;
	padding-left: 0.25em;
	padding-right: 1em;
	margin-left: auto;
}

i {
	color: white;
}

/* A box with a width which will put the span tags
inside in a column */
.hamburger {
	width: 1.19em;
	display: flex;
	flex-direction: column;
	display: none;
}

.hamburger:hover span {
	background-color: #555555;
}

/* Span tags take up whole width of container and
add height to container from their height + margin */
.burger-row {
	width: 100%;
	height: 0.125em;
	margin: 0.25em 0;
	background-color: white;
	display: none;
}

/* The drop down arrows in the spans are hidden 
at higher screen widths */
.arrow {
	display: none;
}

/* ============================= */
/* ============BODY============= */
/* ============================= */

body {
	background-color: #191919;
}

.content {
	display: flex;
}

main {
	width: 66.6%;
	position: relative;
	overflow: hidden;
}

main:hover h1, .hero-words:hover h1 {
	color: rgb(255, 80, 0);
	transition-duration: 0.5s;
}

main:hover img {
	transform: scale(1.05);
	transition-property: transform;
	transition-timing-function: ease-in;
	transition-duration: 3s;
}

.hero-img {
	width: 100%;
	height: auto;
	mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(27, 27, 27, 1) 60%);
	-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(27, 27, 26, 1) 60%);
}

.hero-words {
	position: absolute;
	bottom: 8.5em;
	margin-left: 2.3em;
}

h1 {
	box-sizing: border-box;
	font-family: 'Acumin Pro Condensed', Helvetica, Arial, sans-serif;
	font-size: 4.5em;
	color: white;
	text-decoration: none;
}

.hero-link {
	display: block;
	text-decoration: none;
    width: 100%;
}

.series>img {
	margin-left: 0.25em;
	max-height: 1.5em;
}

.hero-button {
	position: absolute;
	bottom: 6em;
	left: 2.86em;
	background-color: rgb(255, 80, 0);
	border-radius: 3px;
	border: none;
	margin-top: 1.25em;
	border-right: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

.hero-button>a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0.6em 1.5em 0.6em;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 1rem;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

aside {
	width: 33.3%;
	display: flex;
	flex-direction: column;
}

aside {
	overflow: hidden;
}

.aside-container:hover {
	transform: scale(1.05);
	transition-property: transform;
	transition-timing-function: ease-in;
	transition-duration: 3s;
}

.aside-container:hover h2 {
	color: rgb(255, 80, 0);
}

.aside-container {
	position: relative;
	display: flex;
	align-items: flex-start;
}

.aside-container>img {
	width: 100%;
	mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(27, 27, 27, 1) 60%);
	-webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(27, 27, 26, 1) 60%);
}

.aside-text {
	position: absolute;
	bottom: 1.5em;
	left: 1em;
}

h3 {
	font-size: 1em;
	color: white;
	font-family: 'Acumin Pro Light';
	font-weight: 400;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
	color: white;
	font-family: 'Acumin Pro Condensed';
	font-weight: 700;
}

/* ============================= */
/* =======MEDIA-QUERIES========= */
/* ============================= */

@media (max-width: 74.9em) {

	/* Hides lists, leaving logo + search */
	.nav-lists {
		display: none;
	}

	nav {
		height: 2.5em;
	}

	/* Makes visible and adds margin to the hamburger.
	As we have space-between set the 3 elements
	go left, centre, and right */
	.hamburger,
	.burger-row {
		display: block;
		margin-left: 0.45em;
	}

	.Dirtfish-Logo {
		margin-left: auto;
	}

	.Dirtfish-Logo img {
		max-height: 12.5px;
		margin: 0 auto;
	}

	/* ============================= */
	/* =========DROP-DOWN=========== */
	/* ============================= */

	/* Set header relative so drop-down can be set below
	it with absolute positioning. */
	.open {
		position: relative;
	}

	/* Set the lists to go in a column and take up half the
	page width. Set as position absolute to move them. */
	.nav-lists {
		display: block;
		position: absolute;
		top: 100%;
		width: 50%;
		padding-left: 25%;
		padding-right: 25%;
		background-color: #191919;
		z-index: 1;
	}

	ul {
		flex-direction: column;
	}

	/* Psuedo-element to add a line between the uls */
	.right-list::before {
		content: '';
		box-sizing: border-box;
		height: 0.15em;
		background-color: white;
		margin: 0.75em 0.7em;

	}

	li a {
		width: 100%;
		margin: 1em 0;
		display: flex;
		justify-content: space-between;
	}

	.arrow {
		display: inline-block;

	}


	h1 {
		font-size: 3em;
	}

}

@media (max-width: 30em) {

	.nav-lists {
		width: 100%;
		padding: 0;
	}

}