/* ============================= */
/* CSS Reset =================== */
/* ============================= */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
}

/* ============================= */
/* ==========FONTS============== */
/* ============================= */

/* Fonts were downloaded from GFonts then converted on FontAwesome,
text is in FA download, but needs link url changing */

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
		url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
		url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('../fonts/Acumin\ Pro\ Condensed.woff2') format('woff2'),
		url('../fonts/Acumin\ Pro\ Condensed.woff') format('woff'),
		url('../fonts/Acumin\ Pro\ Condensed.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed Medium';
	src: url('../fonts/Acumin\ Pro\ Condensed.woff2') format('woff2'),
		url('../fonts/Acumin\ Pro\ Condensed.woff') format('woff'),
		url('../fonts/Acumin\ Pro\ Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Light';
	src: url('../fonts/AcuminPro-Light.woff2') format('woff2'),
	url('../fonts/AcuminPro-Light.woff') format('woff'),
	url('../fonts/AcuminPro-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Acumin Pro Thin';
	src: url('../fonts/AcuminPro-Thin.woff2') format('woff2'),
	url('../fonts/AcuminPro-Thin.woff') format('woff'),
	url('../fonts/AcuminPro-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

